/* Tout les liens */

a{
    color: #242424;
    font-family: Manrope;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

/* les mots importants */

em{
    color: #A5B4FC;
}

/* Les titres */

h1{
    font-family: Montserrat ;
    color : #A5B4FC;
    font-size: 3.5em;
}
/* Les paragraphes */

p{
    font-family: Manrope;
    font-size: 1.1em;
}

li{
    font-size: 1em;
    font-family: Manrope;
}

p, li, h2{
    color: #F9F8FF;
}
header,
footer {
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;

}

body{
    background-color: #1F2039;
    
}

.pub{
    background: linear-gradient(90deg, #8E86B5, #ACAEED);
    font-family: Montserrat;
    border-radius: 50px;
}

.bodyApropos{
    border-bottom: 1px solid #A5B4FC;
    border-right: 1px solid #A5B4FC;
    padding: 50px;
}

a .cta{
    background-color: linear-gradient(90deg , #696484, #8788BA);
}

.icon:hover{
    opacity: 0.5;
}

* {
    margin: 0;
}

section{
    padding: 80px;
}

.sectionApropos{
    margin: auto;
}

.services{
    margin-top: 20px;
    margin-bottom: 20px;
}

.servicesList{
    margin-top: 6px;
    margin-bottom: 6px;
}